{
  "presets": ["next/babel"],
  "plugins": [
    ["babel-plugin-styled-components"],
    [
      "module-resolver",
      {
        "root": ["./src"],
        "alias": {
          "@hooks": "./src/hooks",
          "@components": "./src/components",
          "@layouts": "./src/layouts",
          "@views": "./src/views",
          "@utils": "./src/utils",
          "@config": "./src/config",
          "@service": "./src/service",
          "@interfaces": "./src/interfaces",
          "@types": "./src/types",
          "@styles": "./src/styles",
          "@context": "./src/context"
        }
      }
    ]
  ]
}
